body
{
	text-align: center;
	font-family: Verdana;
	font-size: 12pt;
}

h1
{
	font-size: 1.5em;
}

h2
{
	font-size: 1.3em;
}

table.ma_log {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: solid solid solid solid;
    border-color: black black black black;
    border-collapse: separate;
    background-color: white;
    /* center the table */
    margin-left: auto;
    margin-right: auto;
}
table.ma_log th {
    border-width: 1px 1px 1px 1px;
 padding: 2px 2px 2px 2px;
    border-style: solid solid solid solid;
    border-color: black black black black;
    background-color: white;
    -moz-border-radius: 0px 0px 0px 0px;
}
table.ma_log td {
    border-width: 1px 1px 1px 1px;
 padding: 2px 2px 2px 2px;
    border-style: solid solid solid solid;
    border-color: black black black black;
    background-color: white;
    -moz-border-radius: 0px 0px 0px 0px;
}