# admin/.htaccess
#
# Sample .htaccess for admin/ subdirectory. Should be changed for your
#   site to restrict admin/ access to authorized users.
#
# +----------------------------------------------------------------------+
# | PHP EMS Tools      http://www.php-ems-tools.com                      |
# +----------------------------------------------------------------------+
# | Copyright (c) 2006, 2007 Jason Antman.                               |
# |                                                                      |
# | This program is free software; you can redistribute it and/or modify |
# | it under the terms of the GNU General Public License as published by |
# | the Free Software Foundation; either version 3 of the License, or    |
# | (at your option) any later version.                                  |
# |                                                                      |
# | This program is distributed in the hope that it will be useful,      |
# | but WITHOUT ANY WARRANTY; without even the implied warranty of       |
# | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        |
# | GNU General Public License for more details.                         |
# |                                                                      |
# | You should have received a copy of the GNU General Public License    |
# | along with this program; if not, write to:                           |
# |                                                                      |
# | Free Software Foundation, Inc.                                       |
# | 59 Temple Place - Suite 330                                          |
# | Boston, MA 02111-1307, USA.                                          |
# +----------------------------------------------------------------------+
# |Please use the above URL for bug reports and feature/support requests.|
# +----------------------------------------------------------------------+
# | Authors: Jason Antman <jason@jasonantman.com>                        |
# +----------------------------------------------------------------------+
#	$Id: .htaccess 32 2007-09-15 00:26:33Z jantman $	


AuthType Basic
AuthName "Web Admin"
AuthUserFile /srv/www/password.files/.htpasswd
AuthGroupFile /srv/www/password.files/groups
Require group admin
